body {
	background-image: url("https://davisgitonga.dev/static/images/blur-image/banner.jpg");
	background-size: fit;
	background-position: center;
	background-repeat: no-repeat;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
